h1 {
  color: rgb(0, 217, 255);
  font-size: 62px;
  font-weight: 800;
  line-height: 72px;
  margin: 0 0 24px;
  text-transform: uppercase;
  background-color: black;
  margin-bottom: 30px;
  background-size: 400px;
}
